.detail-city {
  width: 100%;
  height: auto;
}

.detail-city path {
  fill: black!important;
}

.city-image {
  position: relative;
    z-index: 0;
    margin: 0 0 0 0;
    display: block;
    filter: saturate(0.7);
    width: 100%;
    height: auto;
}

.svg-turkiye-haritasi.city{
  height: auto;
  margin: -247px auto 0 0;
  text-align: center;
  z-index: 1;
  position: relative;
  transform: skew(8deg, 6deg);
  padding: 2rem;
  filter: drop-shadow(2px 4px 6px white);
}

.back-to-map{
  position: absolute;
  left: 30px;
  top: 33%;
  color: white;

}