@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Gilroy-Light.woff") format("woff");
  src: url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Gilroy-Regular.woff") format("woff");
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Gilroy-Medium.woff") format("woff");
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Gilroy-Bold.woff") format("woff");
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Heavy.eot");
  src: url("../fonts/Gilroy-Heavy.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Gilroy-Heavy.woff") format("woff");
  src: url("../fonts/Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "pruvaicons";
  src: url("../fonts/pruvaicons.eot?lup0tn");
  src: url("../fonts/pruvaicons.eot?lup0tn#iefix") format("embedded-opentype"),
    url("../fonts/pruvaicons.ttf?lup0tn") format("truetype"),
    url("../fonts/pruvaicons.woff?lup0tn") format("woff"),
    url("../fonts/pruvaicons.svg?lup0tn#pruvaicons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-display: swap;
}
