body {
  &.wp-frontend {
    overflow-x: hidden;
    background-color: $body-bg-front;
    color: $body-color-front;
  }

  &.dark {
    &::before {
      display: block;
      position: fixed;
      content: "";
      height: 100vh;
      width: 100vw;
      background-color: #000000b5;
      z-index: 998;
    }
  }
}

i[class$="-prv-icon"] {
  font-family: $pruva-icons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yeni-nesil-sorular-prv-icon::before {
  content: "\e901";
}

.sinav-modu-prv-icon::before {
  content: "\e902";
}

.mantik-muhakeme-prv-icon::before {
  content: "\e903";
}

.grafik-tablo-prv-icon::before {
  content: "\e904";
}

.fonksiyonel-soru-prv-icon::before {
  content: "\e905";
}

.kazanim-odakli-icon-prv-icon::before {
  content: "\e906";
}

.ogreten-sorular-icon-prv-icon::before {
  content: "\e900";
}

.background-color-none {
  background-color: unset !important;
}

.box-shadow-none {
  box-shadow: unset !important;
}

.visibility-hidden {
  visibility: hidden;
}

.vmx-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

// Carousel Fade Helpers

.carousel-fade {
  .carousel-item {
    opacity: 0;
    transition-duration: 0.6s;
    transition-property: opacity;
  }

  .carousel-item.active,
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    opacity: 1;
  }

  .active.carousel-item-left,
  .active.carousel-item-right {
    opacity: 0;
  }

  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active,
  .active.carousel-item-left,
  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
  }
}

// Page Container General Styling

.post-type-archive-product {
  .container__page-content {
    padding-top: 26px !important;
  }
}

.blog,
.archive.category,
.archive.tag {
  .container__page-content {
    padding-top: 28px !important;

    @include media-breakpoint-between(xs, sm) {
      padding: 8px !important;
    }

    p {
      color: white;
    }
  }
}

.satis-noktalari {
  .container__page-content {
    @include media-breakpoint-between(xs, sm) {
      min-height: unset;
    }

    padding: 0 !important;
  }
}

.container {
  &__page-content {
    @include media-breakpoint-between(xs, sm) {
      margin-top: -198px;
    }

    color: $general-text-color;
    background: #fff;
    box-shadow: 0 72px 124px rgba(0, 0, 0, 0.111396);
    border-radius: 5px;
    margin-top: -100px;
    min-height: 500px;
    margin-bottom: 150px;
    padding: 80px 28px 32px 26px;

    @include media-breakpoint-between(xs, sm) {
      width: 98% !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      margin: 30px 0 30px 0;
      letter-spacing: -0.7px;
    }

    p {
      color: lighten($color: $general-text-color, $amount: 10);
      text-align: justify;
      letter-spacing: -0.5px;
      font-weight: 300;
      line-height: 1.5rem;
    }
  }
}
// Yoast Styling
#breadcrumbs {
  @include media-breakpoint-between(xs, sm) {
    font-size: 11px;
  }

  color: lighten($color: $primary, $amount: 60);
  letter-spacing: -0.2px;
  font-weight: 400;
  background-color: darken($color: $primary, $amount: 3);
  width: fit-content;
  padding: 10px 25px 10px 25px;
  border-radius: 21px;

  a {
    color: inherit;

    &:hover {
      color: darken($color: white, $amount: 30);
      text-decoration: unset;
    }
  }

  > span {
    a:nth-child(1) {
      background-color: unset;
    }
  }

  .seperator-icon {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .home-icon {
    font-size: 16px;
  }
}

.modal {
  @include media-breakpoint-between(xs, sm) {
    width: 100%;
  }

  &.show .modal-dialog {
    @include media-breakpoint-between(xs, sm) {
      width: 95%;
    }
  }

  &-dialog {
    max-width: 50rem;
    margin: auto;
    top: 50%;
    transform: translateY(-50%) !important;
  }

  &-body {
    position: relative;
    padding: 0;
  }

  &-close {
    transition: all 0.4s;
    padding: 0.1875rem 0.625rem 0 0.625rem;
    position: absolute;
    right: -0.9rem;
    top: -0.9rem;
    z-index: 999;
    font-size: 1rem;
    opacity: 1;

    @include media-breakpoint-between(xs, sm) {
      right: -0.5125rem;
    }
  }
}

.double-flash {
  animation: double-flash_1 10s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes double-flash_1 {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.pdf-viewer {
  &__iframe {
    height: 97vh;
    width: 100%;
  }
}

.slick-prev::before,
.slick-next::before {
  color: #7d7b7b !important;
}

.slick-track {
  margin-left: unset !important;
}

.footer_all_rights {
  @include media-breakpoint-between(xs, sm) {
    font-size: 11px;
  }
}

.bs-stepper-header {
  @include media-breakpoint-between(xs, sm) {
    overflow-x: scroll;
  }
}

.filters-button-group {
  .btn {
    @include media-breakpoint-between(xs, sm) {
      font-size: 0.8rem;
    }
  }
}
