body {
  &.wp-frontend {
    overflow-x: hidden;
    background-color: $body-bg-front;
    color: $body-color-front;
  }

  &.dark {
    &::before {
      display: block;
      position: fixed;
      content: "";
      height: 100vh;
      width: 100vw;
      background-color: #000000b5;
      z-index: 998;
    }
  }
}

i[class$="-prv-icon"] {
  font-family: $pruva-icons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yeni-nesil-sorular-prv-icon::before {
  content: "\e901";
}

.sinav-modu-prv-icon::before {
  content: "\e902";
}

.mantik-muhakeme-prv-icon::before {
  content: "\e903";
}

.grafik-tablo-prv-icon::before {
  content: "\e904";
}

.fonksiyonel-soru-prv-icon::before {
  content: "\e905";
}

.kazanim-odakli-icon-prv-icon::before {
  content: "\e906";
}

.ogreten-sorular-icon-prv-icon::before {
  content: "\e900";
}

.vmx-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

// Carousel Fade Helpers

.carousel-fade {
  .carousel-item {
    opacity: 0;
    transition-duration: 0.6s;
    transition-property: opacity;
  }

  .carousel-item.active,
  .carousel-item-next.carousel-item-left,
  .carousel-item-prev.carousel-item-right {
    opacity: 1;
  }

  .active.carousel-item-left,
  .active.carousel-item-right {
    opacity: 0;
  }

  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active,
  .active.carousel-item-left,
  .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
  }
}

// Page Container General Styling

.post-type-archive-product {
  .container__page-content {
    padding-top: 26px !important;
  }
}

.container {
  &__page-content {
    color: $general-text-color;
    background: #fff;
    box-shadow: 0 72px 124px rgba(0, 0, 0, 0.111396);
    border-radius: 5px;
    margin-top: -100px;
    min-height: 500px;
    margin-bottom: 150px;
    padding: 80px 28px 32px 26px;

    h1,
    h2,
    h3,
    h4,
    h5 {
      margin: 30px 0 30px 0;
      letter-spacing: -0.7px;
    }

    p {
      color: lighten($color: $general-text-color, $amount: 10);
      text-align: justify;
      letter-spacing: -0.5;
      font-weight: 300;
      line-height: 1.5rem;
    }
  }
}
// Yoast Styling
#breadcrumbs {
  color: lighten($color: $primary, $amount: 60);
  letter-spacing: -0.2px;
  font-weight: 400;
  background-color: darken($color: $primary, $amount: 3);
  width: fit-content;
  padding: 10px 25px 10px 25px;
  border-radius: 21px;

  a {
    color: inherit;

    &:hover {
      color: darken($color: white, $amount: 30);
      text-decoration: unset;
    }
  }

  > span {
    a:nth-child(1) {
      background-color: unset;
    }
  }

  .seperator-icon {
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .home-icon {
    font-size: 16px;
  }
}

.modal-dialog {
  max-width: 50rem;
  margin: auto;
  top: 50%;
  transform: translateY(-50%) !important;
}

.modal-body {
  position: relative;
  padding: 0;
}

.model-close {
  transition: all 0.4s;
  padding: 0.1875rem 0.625rem 0 0.625rem;
  position: absolute;
  right: -2.8125rem;
  top: 0;
  z-index: 999;
  font-size: 1rem;
  opacity: 1;
}

.akilli-tahta-uygulamalari {
  .bs-stepper-pane {
    min-height: 454px;
  }

  .imagePreview {
    width: 100%;
    height: 180px;
    background: url(../../images/resim-yok.png);
    background-position: center center;
    border: 1px #c3c3c3 dashed;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
  }

  .btn-primary {
    display: block;
    border-radius: 0;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.2);
    margin-top: -5px;
  }

  .imgUp {
    margin-bottom: 15px;
  }
}
