// Woocommerce Styling
.woocommerce {
  .woocommerce-breadcrumb {
    color: #fff;
    font-size: 14px;
    letter-spacing: -0.2px;
    font-weight: 500;
    background-color: #00000026;
    width: fit-content;
    padding: 10px 25px 10px 25px;
    border-radius: 21px;
    margin-bottom: 50px;

    a:nth-child(1)::before {
      color: #ffffff9c;
      padding-right: 5px;
      font-family: FontAwesome;
      content: "\f015";
    }

    a {
      color: inherit;
      font-weight: 100;

      &:hover {
        color: darken($color: white, $amount: 30);
        text-decoration: unset;
      }
    }

    &__seperator-icon {
      color: #ffffff9c;
      font-size: 10px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .woocommerce-products-header {
    display: none;
  }
}

// Fix Woocommerce CheckOut Styling

.woocommerce-billing-fields .form-row,
.woocommerce-shipping-fields .form-row,
.woocommerce form .form-row {
  display: block;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  max-width: unset;
}

// Pagination Styling
.pagination {
  justify-content: center;

  .page-item:hover {
    cursor: pointer;
  }

  .page-item a:hover {
    text-decoration: unset;
  }
}

//Hide Product Filter Count at shop

.woocommerce-widget-layered-nav ul li .count {
  display: none;
}

.single.single-product {
  div[id^="product-"] {
    padding: 6rem 5rem 0 5rem;
    background: linear-gradient(
      163.37deg,
      lighten($color: $primary, $amount: 15),
      31.84%,
      $primary 102.61%
    );
    box-shadow: 0 32px 144px rgba(0, 0, 0, 0.127049);

    &::after {
      clear: both;
      content: " ";
      display: table;
    }
  }

  .summary.entry-summary {
    width: 44%;
    position: relative;
  }

  .woocommerce-product-gallery {
    width: 46%;
    margin-left: -78px;
    bottom: -230px;
    margin-top: -340px;
  }
  //realted products styling
  .products ul,
  ul.products {
    margin: 17px 68px 1em;
  }

  .pdf-viewer {
    &__iframe {
      height: 97vh;
      width: 100%;
    }
  }

  .woocommerce-product-details {
    &__short-description {
      color: rgba(255, 255, 255, 0.76);
      text-shadow: 0.1px 0.1px 3px #00000021;
    }

    &__full-content {
      height: 73px;
      position: relative;
      overflow: hidden;

      &.opened {
        height: 100%;
      }

      > div:nth-child(1) {
        text-align: justify;
        width: 91%;
        height: 100%;
      }
    }

    &__read-more {
      position: absolute;
      top: 16px;
      right: 17px;
      letter-spacing: -0.1rem;
      color: #464646;
      mix-blend-mode: difference;
      font-size: 30px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .product {
    &_title {
      font-size: 60px;
      line-height: 60px;
      letter-spacing: -2.33185px;
      color: #fff;
      padding-bottom: 18px !important;
    }
  }

  .product_meta {
    color: #ffffff24;

    a {
      color: inherit;
    }
  }

  .woocommerce-Price-amount.amount {
    color: black;
    font-weight: 600;
  }

  //Hide Arrows From Input Number

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    border-style: none;
    background-color: unset;
    font: 600 1.3rem $font-family-sans-serif !important;
    padding-right: 5px;
    width: 50px;
  }

  form.cart {
    position: absolute;
    right: 43px;
    bottom: -31px;
    background: $white;
    border-radius: 53px;
    margin-bottom: unset !important;
    height: 66px;
    display: flex;
    align-items: center;
    padding-left: 11px;
    box-shadow: 0 12px 47px rgba(0, 0, 0, 0.157616);
  }

  .quantity {
    float: unset !important;
    margin: unset !important;
    display: inline-block;
  }

  .cart-qty {
    font-size: 1.3rem;
    position: relative;
    color: #9b66ff;

    &:hover {
      cursor: pointer;
    }

    &-minus {
      left: -10px;
    }

    &-plus {
      right: -10px;
    }
  }

  .price {
    font-size: 1.8rem !important;
    padding-left: 10px;
    float: unset;
    margin: unset;
  }

  .view-container {
    color: $white;
    float: left;
    width: 10%;
    position: relative;
    left: -5.56%;
    margin-top: 23%;

    i {
      font-size: 2rem;
      float: inherit;
      padding-right: 10px;
    }

    h6 {
      margin: unset;
      line-height: 1;
    }

    &__element {
      height: 80px;
      transition: all 0.4s;
      background: linear-gradient(140.65deg, #9b66ff -39.89%, #6236ff 99.96%);
      border-radius: 0 100px 100px 0;
      box-shadow: 8px 0 0 rgba(0, 0, 0, 0.07),
        0 12px 47px rgba(0, 0, 0, 0.157616);

      &:hover {
        background: linear-gradient(140.65deg, #9b66ff -39.89%, #4925cc 99.96%);

        a {
          text-decoration: unset;
        }
      }
    }

    a {
      align-items: center;
      padding: 19px;
      height: 100%;
      width: 100%;
      display: flex;
      color: inherit;
    }
  }
}

.woocommerce-filters {
  &__title {
    letter-spacing: 0;
    background-color: #00000008;
    padding: 5px;
    border-radius: 6px;
  }
}

#magaza-slider__ID {
  color: #fff;
  text-align: right;

  .carousel-indicators {
    left: 2%;
    justify-content: unset;
    margin-right: unset;
    margin-left: unset;
    margin-bottom: 3px;
  }

  p {
    margin-bottom: 0.2rem;
  }

  .magaza-slider {
    &__carousel-item {
      border-radius: 5px;
      min-height: 250px;
    }

    &__carousel-item-inner {
      height: 100%;
      padding: 25px 50px 0 50px;
      text-align: inherit;
    }

    &__text-1,
    &__text-2,
    &__text-3,
    &__desc {
      color: inherit;
    }

    &__text-1 {
      margin: 0 0 10px 0;
    }

    &__text-2 {
      text-align: inherit;
    }

    &__text-3 {
      text-align: inherit;
    }

    &__desc {
      text-align: inherit;
    }

    &__button {
      margin-top: 5px;
      padding: 10px 50px;
    }
  }
}
