// Woocommerce Styling
.woocommerce {
  .woocommerce-breadcrumb {
    color: #fff;
    font-size: 14px;
    letter-spacing: -0.2px;
    font-weight: 500;
    background-color: #00000026;
    width: fit-content;
    padding: 10px 25px 10px 25px;
    border-radius: 21px;
    margin-bottom: 50px;
    position: relative;
    z-index: 999;

    @include media-breakpoint-between(md, lg) {
      margin-bottom: 3rem;
      margin-top: 3rem;
    }

    @include media-breakpoint-between(xs, sm) {
      width: 80%;
      margin-bottom: unset;
      margin-left: auto;
      margin-right: auto;
    }

    a:nth-child(1)::before {
      color: #ffffff9c;
      padding-right: 5px;
      font-family: FontAwesome;
      content: "\f015";
    }

    a {
      color: inherit;
      font-weight: 100;

      &:hover {
        color: darken($color: white, $amount: 30);
        text-decoration: unset;
      }
    }

    &__seperator-icon {
      color: #ffffff9c;
      font-size: 10px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .woocommerce-products-header {
    display: none;
  }

  ul.products li.product .price {
    font-size: 1.457em;
    text-align: center;
    font-weight: 600;
  }

  ul.products li.product .woocommerce-loop-product__title {
    font-size: 1.2em;
    min-height: 5em;
  }

  ul.products li.product a.added_to_cart.wc-forward {
    display: none;
  }
}

// Fix Woocommerce CheckOut Styling

.woocommerce-billing-fields .form-row,
.woocommerce-shipping-fields .form-row,
.woocommerce form .form-row {
  display: block;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  max-width: unset;
}

// Pagination Styling
.pagination {
  justify-content: center;

  .page-item:hover {
    cursor: pointer;
  }

  .page-item a:hover {
    text-decoration: unset;
  }
}

//Hide Product Filter Count at shop

.woocommerce-widget-layered-nav ul li .count {
  display: none;
}

.single.single-product {
  div[id^="product-"] {
    padding: 6rem 5rem 0 5rem;
    background: linear-gradient(
      163.37deg,
      lighten($color: $primary, $amount: 15),
      31.84%,
      $primary 102.61%
    );
    box-shadow: 0 32px 144px rgba(0, 0, 0, 0.127049);

    @include media-breakpoint-between(xs, sm) {
      padding: 2rem 0 0 0;
    }

    &::after {
      clear: both;
      content: " ";
      display: table;
    }
  }

  .summary.entry-summary {
    width: 44%;
    position: relative;

    @include media-breakpoint-between(md, lg) {
      width: 39%;
    }

    @include media-breakpoint-between(xs, sm) {
      width: 100%;
      padding: 10px 59px 10px 31px;
    }

    p {
      @include media-breakpoint-between(xs, lg) {
        margin-bottom: 0.6rem;
      }
    }
  }

  .woocommerce-product-gallery {
    width: 46%;
    margin-left: -78px;
    bottom: -230px;
    margin-top: -308px;

    @include media-breakpoint-between(md, lg) {
      margin-top: -302px;
    }

    @include media-breakpoint-between(xs, sm) {
      width: 90%;
      margin-left: unset;
      bottom: unset;
      margin-top: unset;
    }
  }
  //realted products styling
  .products ul,
  ul.products {
    margin: 0;
  }

  .related.products {
    background-color: white;
    padding: 5rem 10rem;
    text-align: center;
    color: #675953;

    .woocommerce-Price-amount.amount {
      font-size: 1.5rem;
    }

    @include media-breakpoint-up(xl) {
      padding: 5rem 0;

      ul li {
        width: 22%;
      }
    }

    @include media-breakpoint-between(md, lg) {
      ul li {
        width: 40%;
      }
    }

    @include media-breakpoint-between(xs, sm) {
      padding: 5rem 1rem;

      .woocommerce-loop-product__title {
        font-size: 1 rem;
      }

      .woocommerce-Price-amount.amount {
        font-size: 1.3rem;
      }
    }
  }

  .woocommerce-product-details {
    &__short-description {
      color: rgba(255, 255, 255, 0.76);
      text-shadow: 0.1px 0.1px 3px #00000021;
    }

    &__full-content {
      height: 73px;
      position: relative;
      overflow: hidden;

      &.opened {
        height: 100%;
      }

      > div:nth-child(1) {
        text-align: justify;
        width: 91%;
        height: 100%;
      }
    }

    &__read-more {
      position: absolute;
      top: 16px;
      right: 17px;
      letter-spacing: -0.1rem;
      color: #464646;
      mix-blend-mode: difference;
      font-size: 30px;

      @include media-breakpoint-between(xs, lg) {
        right: 3px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .product {
    &_title {
      font-size: 60px;
      line-height: 60px;
      letter-spacing: -2.33185px;
      color: #fff;
      padding-bottom: 18px !important;

      @include media-breakpoint-between(md, lg) {
        font-size: 45px;
        line-height: 50px;
      }

      @include media-breakpoint-between(xs, sm) {
        font-size: 34px;
        line-height: 35px;
        letter-spacing: -1.33185px;
      }
    }
  }

  .product_meta {
    color: #ffffff24;

    a {
      color: inherit;
    }
  }

  .woocommerce-Price-amount.amount {
    color: black;
    font-weight: 600;
  }

  //Hide Arrows From Input Number

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    border-style: none;
    background-color: unset;
    font: 600 1.3rem $font-family-sans-serif !important;
    padding-right: 5px;
    width: 50px;

    @include media-breakpoint-between(xs, sm) {
      width: 31px;
    }
  }

  form.cart {
    position: absolute;
    right: 43px;
    width: fit-content;
    bottom: -31px;
    background: $white;
    border-radius: 53px;
    margin-bottom: unset !important;
    height: 66px;
    display: flex;
    align-items: center;
    padding-left: 11px;
    box-shadow: 0 12px 47px rgba(0, 0, 0, 0.157616);

    @include media-breakpoint-between(xs, lg) {
      padding: unset;
      right: unset;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .quantity {
    float: unset !important;
    margin: unset !important;
    display: inline-block;
  }

  .cart-qty {
    font-size: 1.3rem;
    position: relative;
    color: #9b66ff;

    &:hover {
      cursor: pointer;
    }

    &-minus {
      left: -10px;
    }

    &-plus {
      right: -10px;
    }
  }

  .price {
    font-size: 1.8rem !important;
    padding-left: 10px;
    float: unset;
    margin: unset;

    @include media-breakpoint-between(xs, sm) {
      padding-left: 0;
    }
  }

  .view-container {
    color: $white;
    float: left;
    width: 10%;
    position: relative;
    left: -5.56%;
    margin-top: 23%;

    @include media-breakpoint-between(md, lg) {
      width: 20%;
      margin-top: 30%;
      transform: translateY(-100%);
    }

    @include media-breakpoint-between(xs, sm) {
      width: 50%;
      position: relative;
      left: unset;
      float: none;
      margin: -49px auto 30px auto;
    }

    i {
      font-size: 2rem;
      float: inherit;
      padding-right: 10px;
    }

    h6 {
      margin: unset;
      line-height: 1;
    }

    &__element {
      height: 80px;
      transition: all 0.4s;
      background: linear-gradient(140.65deg, #9b66ff -39.89%, #6236ff 99.96%);
      border-radius: 0 100px 100px 0;
      box-shadow: 8px 0 0 rgba(0, 0, 0, 0.07),
        0 12px 47px rgba(0, 0, 0, 0.157616);

      @include media-breakpoint-between(xs, sm) {
        border-radius: 100px;
        height: 53px;
      }

      &:hover {
        background: linear-gradient(140.65deg, #9b66ff -39.89%, #4925cc 99.96%);

        a {
          text-decoration: unset;
        }
      }
    }

    a {
      align-items: center;
      padding: 19px;
      height: 100%;
      width: 100%;
      display: flex;
      color: inherit;
    }
  }
}

.woocommerce-filters {
  &__title {
    letter-spacing: 0;
    background-color: #00000008;
    padding: 5px;
    border-radius: 6px;
  }
}

#magaza-slider__ID {
  color: #fff;
  text-align: right;

  .carousel-indicators {
    left: 2%;
    justify-content: unset;
    margin-right: unset;
    margin-left: unset;
    margin-bottom: 3px;
  }

  p {
    margin-bottom: 0.2rem;
  }

  .magaza-slider {
    &__carousel-item {
      border-radius: 5px;
      min-height: 250px;
    }

    &__carousel-item-inner {
      height: 100%;
      padding: 25px 50px 0 50px;
      text-align: inherit;
    }

    &__text-1,
    &__text-2,
    &__text-3,
    &__desc {
      color: inherit;
    }

    &__text-1 {
      margin: 0 0 10px 0;
    }

    &__text-2 {
      text-align: inherit;
    }

    &__text-3 {
      text-align: inherit;
    }

    &__desc {
      text-align: inherit;
    }

    &__button {
      margin-top: 5px;
      padding: 10px 50px;
    }
  }
}

.woocommerce-page table.cart td.actions .input-text {
  width: 112px;
}

.product-coming-soon {
  transform: translate(-50%, -50%);
  position: absolute;
  width: auto !important;

  &__archive-product {
    height: 100px !important;
    top: 41px;
    left: 33px;

    @include media-breakpoint-between(xs, sm) {
      height: 60px !important;
      top: 27px;
      left: 17px;
    }
  }

  &__dijital-katalog {
    height: 59px !important;
    top: 31px;
    left: 30px;
    @include media-breakpoint-between(xs, sm) {
      height: 83px !important;
      top: 60px;
      left: 48px;
    }
  }

  &__single-product {
    height: 9vw !important;
    top: 6.5vw;
    left: 5vw;

    @include media-breakpoint-between(xs, sm) {
      height: 16vw !important;
      top: 15vw;
      left: 11vw;
    }
  }

  &.sorular-konusuyor {
    z-index: 5;
    height: 100px !important;
    top: -5px;
    left: 65px;

    @include media-breakpoint-between(md, lg) {
      height: 46px !important;
      top: -5px;
      left: 40px;
    }

    @include media-breakpoint-between(xs, sm) {
      height: 50px !important;
      top: -5px;
      left: -3px;
    }
  }

  &.brans-denemeleri {
    height: 100px !important;
    top: 53px;
    left: 42px;
    z-index: 5;

    @include media-breakpoint-between(md, lg) {
      top: 34px;
      left: 27px;
      height: 66px !important;
    }

    @include media-breakpoint-between(xs, sm) {
      height: 50px !important;
      top: 32px;
      left: 20px;
    }
  }

  &.teke-tek {
    height: 100px !important;
    top: 57px;
    left: 38px;

    @include media-breakpoint-between(md, lg) {
      top: 34px;
      left: 27px;
      height: 66px !important;
    }

    @include media-breakpoint-between(xs, sm) {
      height: 50px !important;
      top: 24px;
      left: 17px;
    }
  }

  &.muhendis-kafasi {
    height: 100px !important;
    top: 114px;
    left: 58px;

    @include media-breakpoint-between(md, lg) {
      top: 84px;
      left: 36px;
      height: 66px !important;
    }

    @include media-breakpoint-between(xs, sm) {
      height: 50px !important;
      top: 69px;
      left: 38px;
    }
  }
}
