.home {
  .page-header {
    display: none;
  }
}

section.home-slider {
  .container-fluid {
    height: 62.5rem;
    z-index: 1;
  }

  .home-slider {
    color: $white;

    &__left-image {
      opacity: 0.5;
      top: -200%;
      left: -200%;
    }

    &__left-image.show {
      opacity: 1;
      top: 0;
      left: 0;
      transition: 1s ease-in-out 0.5s;
      filter: drop-shadow(0 4px 40px rgba(0, 0, 0, 0.1));
    }

    &__child-draw {
      height: auto;
      width: 36vw;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 28%;
      opacity: 0.2;
    }

    &__child-draw.show {
      opacity: 1;
      transition: 1.8s ease-in-out;
    }

    &__right-text-block {
      opacity: 0;
    }

    &__right-text-block.show {
      opacity: 1;
      transition: 1.9s ease-in-out;
    }

    &__text-1 {
      font-size: 60px;
      line-height: 73px;
      letter-spacing: -2.33185px;
    }

    &__text-2 {
      font-size: 60px;
      line-height: 74px;
      letter-spacing: -2.33185px;
    }

    &__text-3 {
      font-size: 40px;
      line-height: 49px;
      letter-spacing: -1.55457px;
      color: #91e4e7;
    }

    &__desc {
      font-size: 20px;
      line-height: 30px;
      text-align: right;
      letter-spacing: -0.777284px;
      mix-blend-mode: normal;
      opacity: 0.4;
    }
  }

  #home-page-slider {
    .carousel-inner {
      overflow: visible;
    }

    .carousel-indicators {
      bottom: 14%;
    }

    .carousel-indicators li {
      background-color: rgba(255, 255, 255, 0.356);
    }

    .carousel-control-prev,
    .carousel-control-next {
      width: 1.3%;
      color: rgba(255, 255, 255, 0.356);
    }

    .carousel-control-prev-icon {
      background-image: unset;
    }

    .carousel-control-prev {
      left: 10px;
      z-index: 999;
      justify-content: flex-start;

      i {
        font-size: 25px;
      }
    }

    .carousel-control-next-icon {
      background-image: unset;
    }

    .carousel-control-next {
      z-index: 999;
      justify-content: flex-end;
      right: 10px;

      i {
        font-size: 25px;
      }
    }
  }
}

section.sorular-konusuyor {
  margin-top: -15rem;
  z-index: 1;
  clip-path: polygon(0 14rem, 100% 0, 100% 100%, 0% 100%);
  background: linear-gradient(158.09deg, #7db4ea 1.21%, #f3f8ff 226.64%);

  > .container-fluid > .row {
    padding-top: 28rem !important;
  }

  .sorular-konusuyor {
    color: #fff;

    &__title {
      font-weight: 500;
      font-size: 100px;
      line-height: 103px;
      letter-spacing: -4.54056px;
    }

    &__desc {
      font-weight: 300;
      font-size: 24px;
      line-height: 35px;
      letter-spacing: -1.08973px;
      mix-blend-mode: normal;
      opacity: 0.9;
    }

    &__book-picture {
      color: $primary;
      height: auto;
      width: 60%;
      background-color: white;
      border-radius: 1rem;
      margin-bottom: 6rem;
      padding-bottom: 0.3rem;
      box-shadow: 0 42px 104px rgba(107, 134, 171, 0.520733);

      a {
        transition: all 0.4s;
      }

      img {
        transition: inherit;
        margin-top: -4.375rem;
        width: 100%;
        transform: translateY(0);
      }
    }

    &__book-picture:hover {
      cursor: pointer;

      img {
        transform: translateY(-1rem);
      }
    }

    &__book-category {
      text-align: left;
      padding-left: 1.5rem;
      font-weight: 500;
      font-size: 29px;
      margin-bottom: unset;
      letter-spacing: -1.26306px;
      color: #709dd0;
    }

    &__book-branch {
      text-align: left;
      padding-left: 1.5rem;
      font-weight: 300;
      font-size: 17px;
      letter-spacing: -0.871074px;
      color: #504967;
    }

    &__slider {
      .carousel-inner {
        padding: 64px;
      }

      .carousel-indicators {
        border-radius: 50px;
        box-shadow: 0 42px 104px rgba(107, 134, 171, 0.520733);
        width: fit-content;
        position: absolute;
        right: 0;
        top: 50%;
        left: -50px;
        transform: translateY(-50%);
        bottom: unset;
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-right: unset;
        margin-left: unset;
      }

      .carousel-indicators li {
        width: 90px;
        height: 150px;
        line-height: 150px;
        text-indent: unset;
        background-color: white;
        color: $primary;
        font-weight: 600;
        font-size: 36px;
        margin: unset;
        text-align: center;
        border: unset;
        opacity: 1;

        &:nth-child(1) {
          border-radius: 50px 50px 0 0;
        }

        &:last-child() {
          border-radius: 0 0 50px 50px;
        }

        div {
          transition: all 0.4s;
          border-radius: 50px 50px 50px 50px;
          background-color: inherit;
          color: inherit;
        }
      }

      .carousel-indicators li.active {
        div {
          background-color: #6236ff;
          color: $white;
        }
      }
    }
  }
}

section.brans-denemeleri {
  background-color: #3ed19cba;
  position: relative;
  background-image: url("../../images/section-3-background.svg");

  .brans-denemeleri {
    color: #fff;

    &__title {
      color: inherit;
      font-weight: 600;
      font-size: 100px;
      line-height: 103px;
      letter-spacing: -4.54056px;
    }

    &__desc {
      font-weight: 300;
      font-size: 24px;
      line-height: 35px;
      letter-spacing: -1.08973px;
      color: inherit;
      mix-blend-mode: normal;
      opacity: 0.9;
    }

    &__book-picture {
      width: 100%;
      height: auto;
      transform: scale(1);
      transition: all 0.4s;

      .btn {
        transition: inherit;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        opacity: 0;
      }

      img {
        width: 100%;
        filter: blur(0);
      }
    }

    &__book-picture:hover {
      cursor: pointer;
      transform: scale(1.05);

      img {
        filter: blur(2.5px);
      }

      .btn {
        opacity: 1;
      }
    }
  }
}

section.teke-tek {
  background: linear-gradient(163.37deg, #3e3595 -31.84%, #1d185c 102.61%);

  .teke-tek {
    color: #fff;

    &__book-brand {
      font-weight: 200;
      font-size: 100px;
      line-height: 123px;
      letter-spacing: -4.54056px;
    }

    &__book-name {
      font-weight: 600;
      font-size: 140px;
      line-height: 123px;
      letter-spacing: -6.35678px;
    }

    &__book-catchword {
      font-weight: 100;
      font-size: 66px;
      line-height: 120px;
      letter-spacing: -4.54056px;

      .bold {
        font-weight: 500;
      }
    }

    &__book-desc {
      font-size: 1.5rem;
      line-height: 2.1875rem;
      letter-spacing: -0.0681rem;
      mix-blend-mode: normal;
      opacity: 0.5;
    }

    &__book-button {
      background-color: #6236ff;
    }

    &__book-picture {
      width: 100%;
      height: auto;
      transform: scale(1);
      transition: all 0.4s;

      img {
        width: 100%;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }
  }
}

section.muhendis-kafasi {
  clip-path: polygon(0 0, 100% 7%, 100% 100%, 0% 100%);
  background: url("../../images/muhendis-kafasi-background.svg"),
    linear-gradient(190.02deg, #a250a0 -41.64%, #682867 93.77%);
  background-position: left bottom, center;
  background-size: 89vh, cover;
  background-repeat: no-repeat, repeat;

  .muhendis-kafasi {
    color: #fff;

    &__book-name {
      font-weight: 700;
      font-size: 6.25rem;
      line-height: 5.1875rem;
      letter-spacing: -0.2838rem;
    }

    &__book-category {
      font-weight: 200;
      font-size: 4.375rem;
      line-height: 5.1875rem;
      letter-spacing: -0.1986rem;
    }

    &__book-descp {
      font-size: 1.5rem;
      line-height: 2.1875rem;
      letter-spacing: -0.0681rem;
      mix-blend-mode: normal;
      opacity: 0.5;
    }

    &__book-button {
      background-color: #6236ff;
    }
  }
}

section.beceri-temelli {
  height: 1200px;
  background-color: #fff9ef;
  background-image: linear-gradient(
    200.25deg,
    #c2abd4 -41.12%,
    rgba(234, 228, 254, 0.00237653) 112.77%
  ),
    url("../../images/beceri-temelli-background-1.svg");
  background-position: 0 0, right bottom -1px;
  background-size: cover, 62.2%;
  background-repeat: repeat, no-repeat;

  .grid {
    &__container {
      padding-top: 5em;
      display: grid;
      grid-gap: 2em;
      grid-template-columns:
        minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr)
        minmax(200px, 1fr) minmax(200px, 1fr);
      grid-template-rows: minmax(200px, 1fr) minmax(200px, 1fr);
      grid-template-areas:
        "a b c d e"
        ". . 覺 . k";
    }

    &__item {
      //border: 1px red solid;

      &-a {
        grid-area: a;
        grid-row: 1/3;
      }

      &-b {
        grid-area: b;
        grid-row: 1/3;
        align-self: center;
      }

      &-c {
        grid-area: c;
      }

      &-d {
        grid-area: d;
        grid-row: 1/3;
        align-self: center;
      }

      &-e {
        grid-area: e;
      }

      &-覺 {
        grid-area: 覺;
      }

      &-k {
        grid-area: k;
      }
    }

    &__inner {
      padding: 1.5rem !important;
      margin-right: unset;
      margin-left: unset;
      height: 23rem;
      width: auto;
      transition: all 0.4s;
      font-size: 150%;
      background-color: #fff;
      box-shadow: 0 32px 44px rgba(190, 168, 194, 0.24623);

      &:hover {
        cursor: pointer;
        color: white;
        background: linear-gradient(149.76deg, #f18843 -43%, #de5020 157.11%),
          #f18843;
      }

      &-a {
        border-radius: 0 100px 0 0;
        color: #bb41b8;
      }

      &-b {
        border-radius: 100px 0 0 0;
        color: #da6262;
        align-self: center;
      }

      &-c {
        border-radius: 0 0 0 100px;
        color: #7f357e;
      }

      &-d {
        border-radius: 0 100px 0 0;
        color: #bb85a3;
      }

      &-e {
        border-radius: 100px 0 0 0;
        color: #5b9f;
      }

      &-覺 {
        border-radius: 100px 0 0 0;
        color: #e1a459;
      }

      &-k {
        border-radius: 0 0 0 100px;
        color: #767f84;
      }
    }
  }

  .beceri-temelli {
    &__title {
      font-size: 5.6rem;
      line-height: 6.4rem;
      letter-spacing: -4.0865px;
      color: #3a2a39;
    }

    &__icon {
      font-weight: bold;
      color: inherit;
      font-size: 7.5rem;
    }

    &__header h2 {
      font-weight: bold;
      font-size: 2.5rem;
      line-height: 3.125rem;
      letter-spacing: -1.81622px;
      color: inherit;
    }

    &__description h3 {
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1.5rem;
      letter-spacing: -0.908111px;
      color: inherit;
      mix-blend-mode: normal;
      opacity: 0.5;
    }
  }
}

section.yorumlar {
  color: $primary;
  background-color: #fff9ef;
  background-image: linear-gradient(
    211.77deg,
    rgba(255, 244, 243, 0.0803376) 2.82%,
    #fee6e4 93.92%
  ),
    url("../../images/comments-background-1.svg"),
    url("../../images/comments-background-2.svg"),
    url("../../images/comments-background-3.svg");
  background-position: 0 0, right top, left 9% top 26%, left 10% bottom 49%;
  background-size: cover, 62%, 45%, 35%;
  background-repeat: repeat, no-repeat, no-repeat, no-repeat;

  .yorumlar {
    &__wrapper {
      margin-top: 2rem;
    }

    &__wrapper:nth-child(even) {
      align-self: flex-start;
    }

    &__wrapper:nth-child(odd) {
      align-self: flex-end;
    }

    &__title {
      padding-top: 1.5rem;
      font-weight: bold;
      font-size: 4.375rem;
      line-height: 5.4375rem;
      letter-spacing: -0.1986rem;
      color: #9dc7ef;
    }

    &__content {
      background-color: white;
      border-radius: 0.5rem;
      box-shadow: 0 22px 34px rgba(0, 0, 0, 0.0671165);
    }

    &__isim {
      font-size: 1.25rem;
      line-height: 1.5625rem;
      letter-spacing: -0.0568rem;
      color: #3c4c5c;
    }

    &__yorum {
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1.875rem;
      letter-spacing: -0.0568rem;
      color: #9dc7ef;
    }

    &__profile {
      height: 7.6875rem;
      opacity: 0.8;
    }
  }
}

section.neden-sorular-konusuyor {
  height: 68.75rem;
  background-color: #fff9ef;
  background-image: url("../../images/sorular-konusuyor-background-1.svg"),
    url("../../images/sorular-konusuyor-background-2.svg"),
    linear-gradient(
      198.89deg,
      #afabd4 -41.12%,
      rgba(234, 228, 254, 0.00237653) 112.77%
    );
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;

  .neden-sorular-konusuyor {
    &__title {
      color: #9dc7ef;
      font-size: 6.875rem;
      font-weight: bold;
      letter-spacing: -0.3119rem;
    }

    &__subtitle {
      color: #1d185c;
      font-size: 5rem;
      font-weight: bold;
      letter-spacing: -0.2269rem;
    }

    &__description {
      color: #b5a39b;
      font-size: 1.5rem;
      font-weight: 100;
      letter-spacing: -0.0681rem;
    }

    &__play {
      transition: all 0.4s;
      color: #9dc7ef;
      font-size: 6.25rem;
      text-shadow: 0 0 6.5rem rgba(107, 80, 119, 0.336156);
      animation: shadow-pulse 3000ms infinite;

      &:hover {
        cursor: pointer;
        animation-play-state: paused;
        text-shadow: 0 0 150px rgba(107, 80, 119, 0.336156);
        color: darken($color: #9dc7ef, $amount: 10) !important;
      }
    }
  }

  .emoji {
    &__item {
      transition: all 0.4s;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: content-box;
      background-color: $white;
      padding: 0.625rem;
      border-radius: 0.625rem;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
      transform: scale(1);

      &:hover {
        transform: scale(1.1);
      }
    }

    &__item-1 {
      height: 5rem;
      top: 33%;
      left: 9%;
    }

    &__item-2 {
      height: 5.375rem;
      top: 22%;
      left: 30%;
    }

    &__item-3 {
      height: 4.625rem;
      top: 35%;
      left: 50%;
    }

    &__item-4 {
      height: 3.75rem;
      top: 55%;
      left: 7%;
    }

    &__item-5 {
      height: 3.4375rem;
      top: 50%;
      left: 29%;
    }

    &__item-6 {
      height: 5rem;
      top: 54%;
      left: 55%;
    }

    &__item-7 {
      height: 5rem;
      top: 73%;
      left: 11%;
    }

    &__item-8 {
      height: 5rem;
      top: 67%;
      left: 35%;
    }

    &__item-9 {
      height: 5rem;
      top: 74%;
      left: 56%;
    }
  }
}

.tooltip-inner {
  padding: 1rem;
  background: $primary;
  border-radius: 0.5625rem;
  opacity: unset;

  p {
    text-align: justify;
  }
}

@keyframes shadow-pulse {
  0% {
    transform: scale(0.95);
    text-shadow: 0 0 0 rgba(173, 68, 68, 0.7);
  }

  70% {
    transform: scale(1);
    text-shadow: 0 0 250px rgba(173, 68, 68, 0);
  }

  100% {
    transform: scale(0.95);
    text-shadow: 0 0 0 rgba(173, 68, 68, 0);
  }
}

section.benimsorumnet {
  transition: all 0.4s;

  a.btn[role="button"] {
    font-weight: bold;
    background-color: #d10b77;
    border-color: #d10b77;

    &:hover {
      background-color: darken($color: #d10b77, $amount: 10) !important;
    }
  }
}
