.dijital-katalog {
  .card-container {
    padding-bottom: 15px;
  }

  .card {
    border: 1px solid beige;
  }

  .card-body {
    padding: 0.65rem;
    background: #ffffe321;
  }

  .card-img-top {
    width: 100%;
    height: auto;
  }
}
