.sorular-konusuyor {
  .side-block {
    position: absolute;
    right: 0;
    height: 100%;
    width: 35%;
  }

  .blue-text {
    color: #00aeef;
    position: absolute;
    top: 0;
  }

  .box {
    position: block;
    display: inline-block;
    padding-top: 5em;
  }

  .second-text-line {
    position: relative;
    display: block;
    padding-top: 2em;
    padding-bottom: 4em;
  }

  .text-inside {
    display: block;
  }

  .text-inside,
  .blue-text {
    font-size: 6.5rem;
    font-weight: 900;
  }

  .title-texts-container {
    padding-left: 3em;
  }

  .dots-image {
    position: absolute;
    margin-left: 0.4em;
    width: 15.6em;
    z-index: 2;
    top: 3em;
  }

  .sorular-image {
    display: block;
    margin-left: 10em;
    margin-bottom: 12em;
    width: 50%;
  }

  .logo-questions-page {
    margin-left: 1em;
    position: absolute;
    bottom: 0;
  }

  .page2 {
    height: 100%;
    width: 100%;
    display: block;
    background-image: url(../../images/mavisayfalar-p2.png);
    background-repeat: no-repeat;
    background-size: cover;

    &__title-texts-container {
      margin-left: 3em;

      h1 {
        font-size: 4rem;
        font-weight: 900;
      }
    }

    &__dots-image {
      position: absolute;
      z-index: 2;
      width: 13.5em;
    }

    &__text {
      color: #00aeef;
    }

    &__text-inside {
      margin: 0;
      display: block;
      background-color: white;
      width: fit-content;
    }
  }
}
