.sorular-konusuyor {
  .container__page-content {
    background-color: #00aeef;
  }

  .blue-text {
    color: #00aeef;
    position: absolute;
    top: 0;
  }

  .box {
    position: block;
    display: inline-block;
    padding-top: 5em;
  }

  .second-text-line {
    position: relative;
    display: block;
    padding-top: 2em;
    padding-bottom: 4em;
    @include media-breakpoint-only(xs) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .text-inside {
    display: block;
  }

  .text-inside,
  .blue-text {
    font-size: 6.5rem;
    font-weight: 900;
    @include media-breakpoint-only(xs) {
      font-size: 3rem;
    }
  }

  .title-texts-container {
    padding-left: 3em;
    border-radius: 40px;
    background-color: #fff;
    @include media-breakpoint-only(xs) {
      padding-left: 0;
    }
  }

  .dots-image {
    position: absolute;
    margin-left: 0.4em;
    width: 15.6em;
    z-index: 2;
    top: 3em;
    @include media-breakpoint-only(xs) {
      width: 7em;
      top: 2.5em;
      margin-left: 0.2em;
    }
  }

  .sorular-image {
    width: 90%;
    margin: 1em 3em 1em 0;
    @include media-breakpoint-only(xs) {
      position: absolute;
      z-index: 3;
      width: 100%;
      margin: 0;
    }
  }

  .logo-questions-page {
    margin-left: 1em;
    position: absolute;
    bottom: 0;
  }

  .slick-dots {
    top: 70%;
    padding-bottom: 1em;
    padding-top: 1em;
  }

  .page2 {
    height: 100%;
    width: 100%;
    display: block;
    background-color: #00aeef;
    background-repeat: no-repeat;
    background-size: cover;

    &__first-slider,
    &__second-slider {
      background-color: #fff;
      border-radius: 7px;
    }

    &__second-slider {
      padding: 1em;
    }

    &__title-texts-container {
      margin-left: 1em;

      h1 {
        font-size: 4rem;
        font-weight: 900;
        @include media-breakpoint-only(xs) {
          font-size: 2.8rem;
        }
      }
    }

    &__tum-uniteler-title {
      width: 100%;
      margin: 1em auto;
    }

    &__dots-image {
      position: absolute;
      z-index: 2;
      width: 13.5em;
      @include media-breakpoint-only(xs) {
        width: 7em;
      }
    }

    &__ourbook-text {
      margin: 3em;
      @include media-breakpoint-only(xs) {
        margin: 3em 1em;
      }
    }

    &__ourbook-text-line {
      color: white;
      font-size: 16px;
    }

    &__round-container {
      font-size: 13px;
    }

    &__round-container-lines {
      padding: 1em;
    }

    &__text {
      color: #00aeef;
    }

    &__mavisayfalar-logo {
      position: relative;
      top: 6em;
      bottom: 1em;
    }

    &__pruva-logo {
      width: 300px !important;
      display: block;
      @include media-breakpoint-only(xs) {
        width: 180px !important;
      }
    }

    &__system-text {
      font-weight: 900;
      font-size: 1.2rem;
      color: black;
    }

    &__system-section {
      display: block;
      margin-top: 5em;
    }

    &__system-explained-text {
      color: black;
      font-size: 14px;
    }

    &__soru-modeli-title {
      margin: 1em auto;
      font-weight: 900;
      width: 100%;
    }

    &__soru-modeli-ozellikleri-title {
      margin-top: 5em;
      z-index: 5;
      width: 100%;
    }

    &__soru-modeli-types {
      width: 120%;
    }

    &__blue-dots-image {
      width: 60%;
      display: block;
      margin-bottom: 2em;
    }

    &__sorular-emoji-3 {
      margin: 1em auto;
      width: 70%;
    }

    &__3emoji-container {
      text-align: center;
    }

    &__unit-test-text {
      background-color: #fff;
      border-radius: 7px;
      margin: 1.5em auto;
      padding: 1em;
      font-size: 15px;
    }

    &__short-wavy-bg {
      position: absolute;
      z-index: 0;
      width: 100%;
    }

    &__exam-mood-title {
      z-index: 2;
      position: absolute;
      margin: 7em auto auto 1em;
    }

    &__exam-mood-title-image {
      width: 70%;
      display: block;
    }

    &__blue-boxes {
      margin-bottom: 2em;
      width: 100%;
    }

    &__book-3 {
      width: 110%;
    }

    &__text-inside {
      margin: 0;
      display: block;
      background-color: white;
      width: fit-content;
    }

    &__square-container {
      background-color: white;
      border-radius: 1em;
      font-size: 13px;
      min-height: 220px;
      @include media-breakpoint-only(xs) {
        min-height: 300px;
      }
    }

    &__soru-modeli-ozellikleri {
      z-index: 5;
      display: block;
    }

    &__description-text {
      color: #fff;
    }

    &__white-wavy-bg {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
    }

    &__square-container-lines {
      padding: 1em;
    }

    &__numbers-container {
      margin-top: 30em;
      display: flex;
      justify-content: flex-end;
      padding-top: 1em;
    }

    &__container5,
    &__container6,
    &__container7,
    &__container8,
    &__container9 {
      width: 5em;
      margin: 0 1em 0 1em;
      bottom: 0;
      color: black;
      position: absolute;
      text-align: center;
    }

    &__container5 {
      height: 6em;
      z-index: 0;
      opacity: 0.4;
      background-color: #fff;
      margin-right: 19em;
    }

    &__container6 {
      height: 8em;
      background: rgba(255, 250, 250, 0.4);
      margin-right: 13em;
    }

    &__container7 {
      height: 10em;
      background: rgba(255, 250, 250, 0.5);
      margin-right: 7em;
    }

    &__container8 {
      height: 12em;
      background: rgba(255, 250, 250, 0.6);
    }

    &__numbers {
      z-index: 2;
      position: absolute;
      font-size: 28px;
      font-weight: 900;
    }

    &__number5 {
      z-index: 2;
      margin-top: 1.3em;
    }

    &__cup {
      margin: 0 01em 12em 1em;
    }

    &__emoji {
      position: absolute;
      top: 0;
      z-index: 0;
    }

    &__white-dots {
      left: 91%;
      top: 5%;
      @include media-breakpoint-only(xs) {
        left: 95%;
        top: 23%;
        height: 200px;
      }
    }

    &__blue-box {
      background-color: #00aeef;
      margin: 2em 0;
      border-radius: 5px;
      z-index: 2;
      padding: 1em;
    }

    &__blue-box-text {
      color: #fff;
      text-align: left;
      font-size: medium;
    }

    &__new-system-text {
      margin-top: 4em;
      width: 90%;
      font-size: 14px;
    }

    &__all-emojis {
      width: 40%;
      margin-top: 45em;
      @include media-breakpoint-only(xs) {
        width: 100%;
        margin-top: 48em;
      }
    }

    &__all-blue-box-container {
      z-index: 3;
    }

    &__background-emoji-container {
      z-index: 0;
    }

    &__emoji1 {
      left: 45%;
      width: 3em;
      top: 7%;
      @include media-breakpoint-only(xs) {
        left: 10%;
        top: 44%;
        transform: rotate(-15deg);
        display: none;
      }
    }

    &__emoji2 {
      left: 80%;
      width: 3em;
      top: 7%;
      @include media-breakpoint-only(xs) {
        left: 20%;
        top: 54%;
        transform: rotate(-15deg);
        display: none;
      }
    }

    &__emoji3 {
      top: 18%;
      left: 60%;
      @include media-breakpoint-only(xs) {
        left: 28%;
        top: 47%;
        transform: rotate(10deg);
        display: none;
      }
    }

    &__emoji4 {
      top: 30%;
      left: 80%;
      @include media-breakpoint-only(xs) {
        display: none;
      }
    }

    &__emoji5 {
      top: 40%;
      left: 86%;
      @include media-breakpoint-only(xs) {
        display: none;
      }
    }

    &__emoji6 {
      top: 50%;
      left: 86%;
      @include media-breakpoint-only(xs) {
        display: none;
      }
    }

    &__emoji7 {
      top: 65%;
      left: 65%;
      @include media-breakpoint-only(xs) {
        top: 7%;
        left: 65%;
        display: none;
      }
    }

    &__emoji8 {
      top: 78%;
      left: 26%;
      @include media-breakpoint-only(xs) {
        display: none;
      }
    }

    &__emoji9 {
      top: 78%;
      left: 10%;
      @include media-breakpoint-only(xs) {
        display: none;
      }
    }
  }

  #magazine .turn-page {
    background-color: #fff;
  }
}
