.btn-navbar {
  font-size: 17.6px !important;
  padding: 0 0 0 16px;
  background-color: #fff;
  border-radius: 28px;
  box-shadow: 0 12px 47px rgba(0, 0, 0, 0.5);

  > a {
    color: $primary !important;
    font-weight: bold;
    letter-spacing: 1.2px;
  }

  &.menu {
    > a {
      &::after {
        font-family: FontAwesome;
        content: "\f0c9";
        border-top: unset;
        border-right: unset;
        border-left: unset;
        vertical-align: unset;
        margin-left: unset;
        border-bottom: unset !important;
        background-color: #6edbb0;
        padding: 6px 16px;
        border-radius: 28px;
        margin-right: -2px;
      }
    }

    &.show {
      &::after {
        bottom: -1.2rem !important;
      }
    }
  }
}

.btn-purple {
  background-color: #ca29c2;
  border-radius: 33px;
  box-shadow: -5px 3px 18px rgba(0, 0, 0, 0.16);

  &:hover {
    background-color: #ca29c2f3;
  }
}

.btn-subscriber-submit {
  background: linear-gradient(
    172.25deg,
    #9b66ff -39.89%,
    #6236ff 99.96%
  ) !important;
  left: -45px !important;
  position: relative !important;
  font-size: 24.1px !important;
  padding: 0.31em 1em !important;
  color: white !important;
  line-height: unset !important;
  font-weight: 400 !important;
}

.btn-single-product-add-to-cart {
  transition: all 0.4s;
  float: unset;
  height: 102%;
  border: unset;
  color: white;
  background: linear-gradient(140.65deg, #9b66ff -39.89%, #6236ff 99.96%);
  border-radius: 53px;
  padding-right: 3rem !important;
  padding-left: 3rem !important;

  @include media-breakpoint-between(xs, sm) {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    margin-left: 0.2rem !important;
  }

  &:hover {
    color: inherit;
    background: linear-gradient(140.65deg, #9b66ff -39.89%, #4226a7 99.96%);
  }
}

#mc_embed_signup {
  input.email {
    width: 50%;

    @include media-breakpoint-between(xs, sm) {
      width: 64%;
      height: calc(1.2em + 0.75rem + 2px) !important;
      padding: 0 1rem !important;
    }
  }

  input.button {
    @include media-breakpoint-between(xs, sm) {
      font-size: 1rem !important;
      padding: unset;
      left: -30px !important;
    }
  }
}
