/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.navbar {
  transition: all 0.4s;
}

.nav.navbar-nav ul * {
  list-style: unset !important;
  padding-left: unset;
}

.nav.navbar-nav > li {
  color: #ffffffb5;
  margin-right: 2rem;

  @include media-breakpoint-between(xs, sm) {
    margin-right: 0;
    text-align: center;
  }

  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: -0.2px;

  .menu-item a {
    &:hover,
    &:focus {
      color: lighten($color: $primary, $amount: 30);
    }
  }

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
    }
  }

  &.show {
    .dropdown-toggle::after {
      border-bottom: 0.3em solid;
      border-top: 0;
    }

    &::after {
      @include media-breakpoint-between(xs, sm) {
        display: none !important;
      }

      color: #fff;
      border-bottom: 0.6rem solid;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      border-top: 0;
      position: relative;
      display: block;
      width: 3px;
      bottom: -1.5rem;
      margin-left: auto;
      margin-top: -10px;
      margin-right: auto;
      vertical-align: 0.255em;
      content: "";
      border-right: 0.6rem solid transparent;
      border-left: 0.6rem solid transparent;
      transform: translateX(-50%);
      z-index: 999;
    }
  }

  .dropdown-menu {
    padding: 0.7rem 0;
    border-radius: 0.5rem;
    border: unset;
    z-index: 998;
    top: 2.9rem;
    box-shadow: 0 0 40px 8px rgba(0, 0, 0, 0.32);

    @include media-breakpoint-between(xs, sm) {
      box-shadow: unset;
    }

    > li {
      padding: 8px;
      color: $primary;
    }

    li {
      list-style: unset;
    }
  }
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: 0.8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0 !important;
  left: 100%;
  margin-left: 0.6rem;
  margin-right: 0.1rem;
}

.mega-menu {
  position: static;

  @include media-breakpoint-between(xs, sm) {
    padding: 0 0 0 8px;
  }

  .dropdown-header {
    font-weight: bold;
    font-size: 23px;
    line-height: 23px;
    letter-spacing: -1.35016px;

    @include media-breakpoint-between(xs, sm) {
      font-size: 20px;
    }
  }

  ul {
    padding-left: 23.4px !important;
    padding-bottom: 24px;

    @include media-breakpoint-between(xs, sm) {
      padding-left: unset;
      padding-bottom: unset;
    }

    li {
      font-size: 18px;
      line-height: 50px;

      @include media-breakpoint-between(xs, sm) {
        font-size: 16px;
        line-height: 26px;
      }

      letter-spacing: -1.00174px;
      color: lighten($color: black, $amount: 30);
      font-weight: 300;

      a {
        &:hover {
          color: lighten($color: black, $amount: 10) !important;
        }
      }
    }
  }

  > .dropdown-menu {
    padding: 2.1rem 0.1rem 0 !important;
    background-color: #fff;
    transform: translateX(-100%);

    @include media-breakpoint-between(xs, sm) {
      transform: translateX(0%);
      padding: unset !important;
    }

    max-width: 93%;
    width: fit-content;
    left: 98%;
    top: 4.6rem !important;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

    &.show {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.navbar .navbar-brand {
  color: $white;

  img {
    height: 55px;
    width: auto;
    padding: unset;
    border-bottom: unset;

    @include media-breakpoint-between(xs, sm) {
      height: 39.88px;
    }
  }
}

/* Change navbar styling on scroll */
.navbar.active {
  background: $primary;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  border-bottom: solid 6px #fff;
}

.navbar.active .nav-link {
  color: $white;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: $primary;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: $primary;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .navbar {
    background: $primary;
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
    color: $primary;
  }
}

.megamenu__column.menu-item {
  display: none;
}

.dropdown-divider {
  margin: 0.3rem 0 0.9rem;
}

.cart {
  font-size: 1.2rem;
  margin-right: 20px;

  @include media-breakpoint-between(xs, sm) {
    margin-right: 2px;
  }

  li {
    list-style: none;
    color: #ffffffb5;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: -0.2px;
  }

  &__button {
    padding-right: 0;
    border: unset;
    font-size: inherit;
    color: $primary !important;
    font-weight: bold;
    letter-spacing: 1.2px;
    border-radius: 28px;
    background-color: #fff;
    box-shadow: 0 12px 47px rgba(0, 0, 0, 0.5);
  }

  &__icon {
    display: visible;

    @include media-breakpoint-between(xs, sm) {
      padding-right: 0.65rem !important;
    }
  }

  &__text {
    display: visible;

    @include media-breakpoint-between(xs, sm) {
      display: none;
    }
  }

  &__user {
    background-color: #6edbb0;
    margin-right: -2px;
    padding: 0.6rem 16px;
    border-radius: inherit;

    @include media-breakpoint-between(xs, sm) {
      display: none;
    }

    .fa {
      font-size: 21px;
    }
  }

  &__user-icon {
    display: none !important;
    visibility: hidden;
  }

  &__count {
    text-align: left;
    color: white !important;
    font-weight: 500;
    margin-right: -39px;
    border-radius: 28px;
    background: linear-gradient(175.43deg, #e2d5fb -39.89%, #6236ff 99.96%);
    padding: 0.375rem 3rem 0.375rem 1.275rem;
    box-shadow: 0 12px 47px rgba(0, 0, 0, 0.5);
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-menu {
    border: unset;
    padding: 20px;
    top: 3.4rem !important;
    width: 350px !important;
    left: -180px !important;
    box-shadow: 0 0 40px 8px rgba(0, 0, 0, 0.32);
    border-radius: 15px;

    &::before {
      content: " ";
      position: absolute;
      top: -20px;
      right: 50px;
      border: 10px solid transparent;
      border-bottom-color: #fff;
    }
  }

  &__total-header-section {
    border-bottom: 1px solid #d2d2d2;

    a:hover {
      text-decoration: unset;
      color: darken($color: $black, $amount: 30);
    }
  }

  &__total-section p {
    margin-bottom: 20px;
  }

  &__detail {
    padding: 4px 0;

    .count {
      color: #c2c2dc;
    }
  }

  &__product-price {
    font-size: 12px;
    margin-right: 10px;
    font-weight: 500;
  }

  &__detail-img img {
    width: 100%;
    height: 100%;
    padding-left: 15px;
  }

  &__detail-product {
    color: $black;

    a:hover {
      text-decoration: unset;
      color: darken($color: $black, $amount: 30);
    }
  }

  p {
    margin: 0;
    font-weight: 500;
  }

  &__detail-shopping-badge {
    font-size: 10px;
    top: -11px;
    position: relative;
    left: -4px;
  }

  &__checkout {
    border-top: 1px solid #d2d2d2;
    padding-top: 15px;
    color: white !important;

    a {
      border-radius: 15px;
    }
  }

  &-mobile {
    position: fixed;
    bottom: 25px;
    left: 11px;
    z-index: 999;

    .dropdown-menu {
      left: -27px !important;
      top: -16px !important;

      &::before {
        transform: rotate(180deg);
        bottom: -20px;
        left: 21px;
        right: unset;
        top: unset;
      }
    }
  }
}
